[Unit]
Description=Load the pilights ELEGOO infrared remote key map
After=systemd-udev-trigger.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pilights-ir-keymap
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
